<h1>Album Detail</h1>

<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading && error" class="error">{{ error }}</div>

<div *ngIf="!loading && album">
  <p><b>Id:</b> {{ album.id }}</p>
  <p><b>UserId:</b> {{ album.userId }}</p>

  <label>
    <b>Title:</b>
    <input [(ngModel)]="newTitle" />
  </label>

  <div class="actions">
    <button (click)="save()">Save</button>
    <a class="btn" [routerLink]="['/albums', album.id, 'photos']">View Photos</a>
    <button (click)="back()">Back</button>
  </div>
</div>