    body {
      margin: 0;
      font-family: Arial;
      background: #e7e5e5;
    }

    .container{
      width: 900px;
      height: 520px;

      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left{
      width: 500px;
    }

    #facebook{
      margin: 0;
      font-size: 60px;
      font-weight: bold;
      color: #0b4ddd;
    }

    #text{
      margin-top: 15px;
      font-size: 22px;
    }

    .right{
      width: 350px;
    }

    .login{
      background: white;
      width: 400px;
      padding: 20px;

      border-radius: 10px;
      box-shadow: 0px 2px 10px #00000033;

      text-align: center;
    }

    .login input{
      width: 350px;
      padding: 15px;

      margin-bottom: 20px;

      border: 1px solid #dddfe2;
      border-radius: 10px;

      font-size: 16px;
    }

    .button{
      display: block;
      width: 382px;

      padding: 15px;
      border-radius: 10px;

      font-size: 16px;
      font-weight: bold;

      border: none;
      cursor: pointer;

      margin: 0 auto;
    }

    .login-button{
      background: #0b4ddd;
      color: white;
      font-size: 20px;
    }

    .login-button:hover{
      background: #398efd;
    }

    .forgot-button{
      color: #1b7eff;
      text-align: center;
      font-size: 17px;
    }

     .forgot-button:hover{
      color: #1c01b0;
    } 

    a{
      text-decoration: none;
    }

    hr{
      border: none;
      height: 1px;
      background: #c6c3c3;
    }

    .create-button{
      background: #2ccb0c;
      color: #ffffff;
       margin: 30px 15px;
     
    }

    .create-button:hover{
      background: #2bff00;
    }





   